server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/instagram_clone
    username: postgres
    password: YOUR_PASSWORD_HERE
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

jwt:
  secret: YOUR_JWT_SECRET_HERE
  expiration: 86400000

